.advantages{
    display: grid;
    grid-template-columns:repeat( 3 ,1fr); 
    grid-gap: 50px; 
}
.advantage{
        background: white;
        height: 450px;
        border: 0;
        
}


@media only screen and (max-width:992px)  {

    .advantages{
        display: grid;
        grid-template-columns:repeat( 1 ,1fr); 
        grid-gap: 20px; 
    }  
}
